amqp
asgiref
billiard
celery
click
click-didyoumean
click-plugins
click-repl
Django
djangorestframework
djongo
dnspython
drf-flex-fields
environ
importlib-metadata
kombu
psycopg2
python-decouple
pytz
redis
sqlparse
vine
zipp
