name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  SECRET_KEY: SECRET_KEY
  DB_NAME: DB_NAME
  DB_USER: DB_USER
  DB_PASSWORD: DB_PASSWORD
  DB_HOST: DB_HOST
  DB_PORT: DB_PORT
  EMAIL_HOST_USER: EMAIL_HOST_USER
  EMAIL_HOST_PASSWORD: EMAIL_HOST_PASSWORD
  DEBUG: DEBUG

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python manage.py test
